<article class="flex justify-between items-center">
  <div>
    <h1 class="font-bold text-3xl mb-2 sm:text-heading-l dark:text-white">
      {{ word() }}
    </h1>
    <h3 class="text-accent text-body-m sm:text-heading-m">/ˈkiːbɔːd/</h3>
  </div>
  <button
    (click)="playSoundClick.emit()"
    class="[&>svg>g>circle]:hover:opacity-100 [&>svg>g>path]:hover:fill-white"
  >
    <svg
      class="w-12 h-12 sm:w-20 sm:h-20 fill-accent"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 75 75"
    >
      <g>
        <circle cx="37.5" cy="37.5" r="37.5" class="opacity-25" />
        <path d="M29 27v21l21-10.5z" />
      </g>
    </svg>
  </button>
</article>
