<form class="relative" #searchFrom="ngForm">
  <input
    ngModel
    name="searchTerm"
    #searchTerm="ngModel"
    type="text"
    placeholder="Search for any word..."
    name="searchTerm"
    class="text-inherit sm:text-heading-s dark:text-white w-full h-12 sm:h-16 rounded-2xl bg-secondary-96 dark:bg-primary-12 pl-6 pr-11 outline-accent font-bold placeholder:text-inherit placeholder:opacity-25 dark:placeholder:text-white"
  />
  <img
    src="../../assets/images/icon-search.svg"
    alt="search icon"
    class="absolute right-6 top-4 sm:top-6 w-4 h-4"
  />
</form>
