<app-header />
<main class="container" [ngClass]="'font-' + fontService.font()">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint cumque ullam
    eos enim, iure veritatis architecto vitae, libero placeat, autem labore id
    non nisi doloribus nesciunt officiis laboriosam eum minima. Ut tenetur
    corrupti voluptatem illo laboriosam recusandae! Delectus repudiandae
    necessitatibus est possimus totam? Minima suscipit voluptate dolores aliquid
    quae. At?
  </p>
</main>
