<article class="flex justify-between items-center">
  <div>
    <h1 class="font-bold text-3xl mb-2 sm:text-heading-l dark:text-white">
      keyboard
    </h1>
    <h3 class="text-accent text-body-m sm:text-heading-m">/ˈkiːbɔːd/</h3>
  </div>
  <img
    src="../../assets/images/icon-play.svg"
    alt="play sound"
    class="w-12 h-12 sm:w-20 sm:h-20"
  />
</article>

<div class="flex items-center my-8 gap-4">
  <span
    class="font-bold dark:text-white text-body-m sm:text-heading-m"
    [ngClass]="{ italic: font() === Font.SANS }"
    >noun</span
  >
  <hr class="grow border border-secondary-91 dark:border-primary-23" />
</div>

<div>
  <span class="text-secondary">Meaning</span>
</div>
