<app-word word="keyboard" />

<app-word-type [italic]="isItalic()" type="noun" />

<app-word-meaning>
  <div class="flex gap-5">
    <p class="text-secondary sm:text-heading-s">Synonyms</p>
    <a href="#" class="font-bold text-accent hover:underline sm:text-heading-s"
      >electronic keyboard</a
    >
  </div>
</app-word-meaning>

<app-word-type [italic]="isItalic()" type="verb" />

<app-word-meaning>
  <p class="text-secondary text-sm sm:text-body-m ml-5">
    “Keyboarding is the part of this job I hate the most.”
  </p>
</app-word-meaning>

<hr
  class="my-6 sm:mt-10 sm:mb-5 border border-secondary-91 dark:border-primary-23"
/>

<footer class="sm:flex sm:gap-5 sm:items-center mb-5 text-body-s">
  <p class="underline text-secondary mb-2 sm:mb-0">Source</p>

  <a
    href="#"
    class="flex gap-3 mb-6 sm:mb-0 text-primary-18 dark:text-white"
    [class.underline]="font() !== Font.MONO"
  >
    <span>https://en.wiktionary.org/wiki/keyboard</span>
    <img src="../../assets/images/icon-new-window.svg" alt="external link" />
  </a>
</footer>
