<div class="flex items-center my-8 gap-4">
  <span
    class="font-bold dark:text-white text-body-m sm:text-heading-m"
    [ngClass]="{ italic: italic() }"
    >{{ wordType() }}</span
  >
  <hr class="grow border border-secondary-91 dark:border-primary-23" />
</div>

<p class="text-secondary sm:text-heading-s">Meaning</p>
<ul
  class="list-disc list-inside grid gap-3 marker:text-accent text-sm sm:text-body-m dark:text-white my-4 sm:my-10"
>
  @for (definition of data().meanings[wordType()].definitions; track $index) {
    <li>{{ definition.definition }}</li>
    @if (definition.example; as example) {
      <p class="text-secondary text-sm sm:text-body-m ml-5">"{{ example }}"</p>
    }
  }
</ul>

@if (data().meanings[wordType()].synonyms.length) {
  <div class="flex flex-wrap gap-5">
    <p class="text-secondary sm:text-heading-s">Synonyms</p>
    @for (synonym of data().meanings[wordType()].synonyms; track $index) {
      <a
        href="#"
        class="font-bold text-accent hover:underline sm:text-heading-s"
        >{{ synonym }}</a
      >
    }
  </div>
}
