<p class="text-secondary sm:text-heading-s">Meaning</p>
<ul
  class="list-disc list-inside grid gap-3 marker:text-accent text-sm sm:text-body-m dark:text-white my-4 sm:my-10"
>
  <li>(etc.) A set of keys used to operate a typewriter, computer etc.</li>
  <li>
    A component of many instruments including the piano, organ, and harpsichord
    consisting of usually black and white keys that cause different tones to be
    produced when struck.
  </li>
  <li>
    A device with keys of a musical keyboard, used to control electronic
    sound-producing devices which may be built into or separate from the
    keyboard device.
  </li>
</ul>

<ng-content></ng-content>
