@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

// TODO: Figure out why tailwind does not properly set the font-family
.font-sans {
  font-family: "Inter", sans-serif;
}

.font-serif {
  font-family: "Lora", serif;
}

.font-mono {
  font-family: "Inconsolata", monospace;
}
