<div class="relative" appFontDropdownManager>
  <button class="font-bold flex items-center gap-4" appFontDropdownTrigger>
    <span>{{ chosenFont() }}</span>
    <img src="../../assets/images/icon-arrow-down.svg" alt="arrow down" />
  </button>

  <div
    class="flex flex-col items-start gap-4 absolute right-0 top-10 p-6 w-44 h-36 rounded-2xl font-bold shadow-main"
    *appFontDropdownMenu
  >
    @for (font of fontsAsString | keyvalue; track $index) {
      <button class="hover:text-accent" [ngClass]="'font-' + font.key">
        {{ font.value }}
      </button>
    }
  </div>
</div>
