<div class="relative">
  <button class="font-bold flex items-center gap-4">
    <span>{{ chosenFont() }}</span>
    <img src="../../assets/images/icon-arrow-down.svg" alt="arrow down" />
  </button>

  <div
    class="flex flex-col items-start gap-4 absolute right-0 top-10 p-6 w-44 h-36 rounded-2xl font-bold shadow-main"
  >
    <button class="font-sans hover:text-accent">Sans Serif</button>
    <button class="font-serif hover:text-accent">Serif</button>
    <button class="font-mono hover:text-accent">Mono</button>
  </div>
</div>
