<article class="flex gap-3">
  <label class="relative inline-block w-10 h-5">
    <input
      appThemeSwitcher
      type="checkbox"
      class="opacity-0 w-0 [&+span]:checked:bg-accent [&+span:before]:checked:translate-x-5 [&+span:before]:checked:rounded-[50%] [&+span:before]:checked:border-t-transparent [&+span:before]:checked:border-l-transparent [&+span:before]:checked:border-r-transparent"
    />
    <span
      class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-secondary transition-all duration-300 rounded-[10px] before:absolute before:content-[''] before:w-[14px] before:h-[14px] before:left-1 before:bottom-[3.5px] before:bg-white before:transition-all before:duration-300 before:rounded-[50%] before:text-center before:leading-4"
    ></span>
  </label>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22"
    height="22"
    viewBox="0 0 22 22"
  >
    <path
      fill="none"
      class="stroke-[#838383] dark:stroke-accent"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"
    />
  </svg>
  <!-- <img src="../../assets/images/icon-moon.svg" alt="moon icon" /> -->
</article>
